.section-10 {
  background-color: white !important;
  color: indigo;
}

.btn-corner-line {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 15px 30px;
  border: 2px solid indigo;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  &:before {
    content: '';
    position: absolute;
    top:6px;
    left: -2px;
    width: calc(100% +4px);
    height: calc(100% -12px);
    background-color: white;
    transition: 0.5s ease-in-out;
    transform: scaleY(1);
  }
  &:hover:before {
    transform: scaleY(0);
  }

  &:after {
    content: '';
    position: absolute;
    left:6px;
    top: -2px;
    height: calc(100% +4px);
    width: calc(100% -12px);
    background-color: white;
    transition: 0.5s ease-in-out;
    transform: scaleX(1);
    transition-delay: 0.5s;
  }
  &:hover:after {
    transform: scaleX(0);
    transition-delay: 0.5s;

  }

  &-text {
    position: relative;
    z-index: 10;
  }
}
